<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecanico Castellino</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</head>
<body>
        <div class="container">
            <h1 class="h1 text-center mt-5">Taller Mecanico Castellino</h1>
            <div class="d-grid gap-3 col-3 mx-auto mt-5">
                <a class="btn btn-primary" href="/agenda">Agenda</a>
                <a class="btn btn-primary" href="/listadeprecios">Ver lista de precios</a>
            </div>
        </div>
    
        <div class="card-footer mt-5">
            <p class="text-center">Creado por Gonzalo Castellino © 2024</p>
        </div>
</body>
</html>